.projectsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 600px;
}

.createProjectForm {
  display: flex;
  flex-direction: column;
}

.projectTitle {
  margin-left: 1rem;
  margin-right: auto;
  font-weight: 500;
  font-family: var(--secondary-title-font);
}

.accordionOpen,
.accordionClosed {
  align-items: center;
  display: flex;
  height: 50px;
  width: 600px;
  border-radius: 20px 10px 10px 10px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border: none;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
}

.accordionOpen {
  background: #ff0088;
  width: 600px;
}

.accordionClosed {
  background: #d9d9d9;
  width: 600px;
}

.todoList {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  overflow: hidden;
}

.deleteIcon,
.addTodoIcon {
  margin-left: 1rem;
}

.deleteIcon:hover,
.editIcon:hover,
.addTodoIcon:hover {
  scale: 1.1;
  cursor: pointer;
}
