.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #0000006c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: clamp(50%, auto, 90%);
  height: min(50%, 300px);
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal form {
  align-self: center;
  justify-self: center;
}

.closeButton {
  position: absolute;
  top: -4%;
  left: 92%;
  background: rgba(255, 0, 0, 0.541);
  border-radius: 50%;
  cursor: pointer;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-color: var(--secondary-bg-color) transparent var(--secondary-bg-color)
    transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
