.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.container footer {
  width: clamp(50%, 800px, 90%);
}


.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-text-font);
  flex: 1;
}

.heroMsg {
  white-space: nowrap;
  overflow: hidden;
  font-size: 2.5rem;
  font-weight: 300;
  animation: appearLeftToRight 2s ease forwards;
}

@keyframes appearLeftToRight {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.hero span {
  font-family: var(--logo-font);
  font-style: italic;
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  font-family: var(--logo-font);
  font-size: 2rem;
  font-weight: 700;
}



.getStarted {
  margin-top: 2rem;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: var(--logo-font);
  padding: 0.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.getStarted:hover {
  background-color: var(--secondary-bg-color);
  color: black;
  font-weight: 500;
  border: none;
}


@media only screen and (min-width: 768px){ 
  .heroMsg{
    font-size: 4rem;
  }

  .getStarted{
    font-size: 1.5rem;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  }
 } 


@media only screen and (min-width: 1024px){
  .heroMsg{
    font-size: 5rem;
  }
}

@media only screen and (min-width: 1400px){
  .getStarted{
    font-size: 1.55rem;
    padding: 0.75rem 0.4rem 0.75rem 0.4rem;
  } 
}