@import '../../../../utils/constants.css';

.todoCard {
  height: 80px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 0.25rem;
  padding: 0.25rem;
}

.todoInfoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todoInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoForm {
  display: flex;
  flex-direction: column;
}

.todoInfoTitle {
  margin-bottom: 0.25rem;
  padding: 0;
  font-style: italic;
  font-weight: 500;
  font-family: var(--secondary-title-font);
  color: rgba(0, 0, 0, 0.4);
}

.removeButton {
  border-radius: 0.2rem;
  color: rgb(24, 23, 23);
  border: none;
  background-color: rgba(255, 0, 0, 0.527);
  margin-top: 0.5rem;

  /* position: absolute;
  top: 5%;
  left: 92%; */
}
/* .removeButton:hover {
  scale: 1.1;
  box-shadow: 1px 1px 1px solid black;
} */
.updateButton {
  border: none;
  background-color: azure;
  transition: all 1s ease;
}

.updateButton:hover {
  text-decoration: underline blueviolet;
}

.deleteIcon:hover,
.editIcon:hover {
  scale: 1.1;
  cursor: pointer;
}

.completedCheckbox {
  border: 1px solid blue;
}
